---
layout: default
class: front
permalink: /
---

<!-- This is the site's landing page -->

<section class="section-hero">

    <a class="ico-play video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/zWNF2MwoX9M" data-target="#myModal" href="#">
    <img src="{{ "assets/images/btn-play.svg" | relative_url }}" alt="">
  </a>

  <img class="bg1" src="{{ "assets/images/hero-element-bg2.svg" | relative_url }}" alt="">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-7 col-xl-7">
        <H6>
          < WE BELIEVE IN />
        </H6>
        <H1>Software engineering done right</H1>
        <a href="#" class="btn -primary video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/zWNF2MwoX9M" data-target="#myModal">
          <img src="{{ "assets/images/ico-play.svg" | relative_url }}" class="ico" alt=""> WHAT IS ORANGE & BRONZE?
      </a>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

  <img src="{{ "assets/images/ico-learnmore.svg" | relative_url }}" alt="" class="bg-element" />

</section>

<section class="section-about1">
  <img class="bg1" src="{{ "assets/images/feature1-full.svg" | relative_url }}" alt="" />
  <div class="container">
    <div class="row">
      <div class="d-lg-none col-lg-1 d-xl-block"></div>
      <div class="d-none d-sm-none d-md-block col-md-4 col-lg-6 col-xl-5">
        <img class="img-fluid" src="{{ "assets/images/feature1.png" | relative_url }}" alt="" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 section-minititle">
          <H6>[ Java Software Development ]</H6>
          <H3>Customized Solutions using Java and Spring Framework</H3>
          <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
          <p>Orange & Bronze Software Labs has architected and developed huge mission-critical systems using the Spring Framework, many handling millions of daily transactions for multibillion-dollar companies all over the world </p>
          <p>We have also built creative new products for ambitious startups, nimbly keeping up with their rapid changes in requirements.</p>
          <a href="/services" class="btn -secondary">
            <img src="{{ "assets/images/ico-arrow-left.svg" | relative_url }}" class="ico svg" alt="" /> LEARN MORE
          </a>
      </div>
    </div>
  </div>
</section>
<section class="section-about2">
    <div class="container">
        <div class="row">
            <div class="d-lg-none col-lg-1 d-xl-block"></div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 section-minititle">
                <H6>[ Staff Augmentation ]</H6>
                <H3>The right team at the right price.</H3>
                <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" / >
                <p>If you want to create mission-critical systems, take your products to market quickly, and maintain a clean code base, then you need great developers.</p>
                <p>Complement your existing development team with O&B trained developers. Besides expanding your team, you also get the benefit of mentoring and coaching where we transfer engineering best practices to your team.</p>
                <a href="/services" class="btn -secondary">
                    <img src="{{ "assets/images/ico-arrow-left.svg" | relative_url }}" class="ico svg" alt=""> LEARN MORE
                </a>
            </div>
            <div class="d-none d-sm-none d-md-block col-md-4 col-lg-6 col-xl-5">
                <img class="img-fluid" src="{{ "assets/images/feature2.png" | relative_url }}" alt="" />
            </div>
            <div class="d-lg-none col-lg-1 d-xl-block"></div>
        </div>
    </div>
</section>
<section class="section-about3">
    <div class="container">
        <div class="row">
            <div class="d-lg-none col-lg-1 d-xl-block"></div>
            <div class="d-none d-sm-none d-md-block col-md-4 col-lg-6 col-xl-5">
                <img class="img-fluid" src="{{ "assets/images/feature3.png" | relative_url }}" alt="" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 section-minititle">
                <H6>[ G SUITE ]</H6>
                <H3>Intuitive tools to take your business to the next level</H3>
                <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
                <p>Orange and Bronze is a Google Cloud partner and Philippine reseller for G Suite by Google Cloud (formerly Google Apps).</p>
                <p>We provide local technical support and can help you install your G Suite account - so you don't have to worry about the hassles of managing this IT solution yourself.</p>
                <a href="/services" class="btn -secondary">
                    <img src="{{ "assets/images/ico-arrow-left.svg" | relative_url }}" class="ico svg" alt=""> LEARN MORE
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section-portfolio">

  <img class="bg1" src="{{ "assets/images/portfolio-bg.svg" | relative_url }}" alt="" />

  <img class="bg2" src="{{ "assets/images/hero-element-bg2.svg" | relative_url }}" alt="" />

  <div class="container">

    <div class="row">
      <div class="col">
        <div class="section-title">
          <H6>
            < CLIENTS WHO BELIEVE US />
          </H6>
          <H2>Our Success Stories</H2>
          <img class="bg" src="{{ "assets/images/title-success.png" | relative_url }}" alt="" />
        </div>
      </div>
    </div>

    <div class="row auto-960">

      <div class="col mt60">
        <img class="bg-element" src="{{ "assets/images/front-element.svg" | relative_url }}" alt="">
        <div class="portfolio-controls">
          <a id="btn-prev" href="#" class="btn-links">
            <img class="prev" src="{{ "assets/images/btn-prev.svg" | relative_url }}" alt="" />
          </a>
          <a id="btn-next" href="#" class="btn-links">
            <img class="next" src="{{ "assets/images/btn-next.svg" | relative_url }}" alt="" />
          </a>
        </div>
        <div class="portfolio-slider">

          {% for work in site.categories.works %}
            <div class="portfolio-card">
              <div class="portfolio-body">
                <div class="portfolio-image">
                  <img src="{{ work.image | relative_url }}" alt="" class="img-fluid image" />
                </div>
                <div class="portfolio-content">
                  <div class="tags-list">

                    {% for service in work.services_rendered %}

                      <span class="tags">{{ service }}</span>

                    {% endfor %}

                  </div>
                  <H3 class="title">{{ work.title }}</H3>
                  <div class="content">
                    <p>{{ work.description}}</p>
                  </div>
                  <a href="/casestudy-1.html" class="btn -secondary">
                    <img src="{{ "assets/images/ico-bookmark.svg" | relative_url }}" class="ico svg" alt="" /> Read Case Study
                  </a>
                </div>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-university">
    <img class="bg1" src="{{ "assets/images/university-element-bg.svg" | relative_url }}" alt="" />
    <img class="bg2" src="{{ "assets/images/university-element-bg2.svg" | relative_url }}" alt="" />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title">
                    <H6>
                        < BOOTCAMPS & TRAININGS />
                    </H6>
                    <H2>O&B University</H2>
                    <img class="bg" src="{{ "assets/images/title-software.png" | relative_url }}" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-lg-none d-xl-block col-xl-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
                <div class="university-card">
                    <img src="{{ "assets/images/pic-calen.png" | relative_url }}" alt="">
                    <div class="topic-card -university">
                        <div class="topic-ico -university">
                            <img src="{{ "assets/images/ico-db.svg" | relative_url }}" alt="" class="ico">
                        </div>
                        <div class="topic-content">
                            <H5 class="subtitle">AN INDUSTRY LEADER</H5>
                            <H4 class="tile">Java Developer Bootcamp</H4>
                            <p class="content">
                                Build web applications and have a good grasp of the requirements and environment for enterprise systems development.
                            </p>
                            <a href="" class="btn -secondary">See Curriculum</a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
                <div class="university-card">
                    <img src="{{ "assets/images/pic-lorenzo.png" | relative_url }}" alt="">
                    <div class="topic-card -university">
                        <div class="topic-ico -university">
                            <img src="{{ "assets/images/ico-zap.svg" | relative_url }}" alt="" class="ico">
                        </div>
                        <div class="topic-content">
                            <H5 class="subtitle">AN INDUSTRY LEADER</H5>
                            <H4 class="tile">Agile Bootcamp</H4>
                            <p class="content">
                                Explore the deficiencies and faulty assumptions behind traditional software development approaches to adopt a more appropriate set of principles and values.
                            </p>
                            <a href="" class="btn -secondary">See Curriculum</a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="d-lg-none d-xl-block col-xl-1"></div>
        </div>
    </div>
</section>

<section class="section-more">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="other-courses-panel">
                    <h6>WE ALSO OFFER OTHER BOOTCAMPS & TRAININGS LIKE</h6>
                    <ul class="course-list">
                        <li>
                            Enterprise Architect Bootcamp
                            <div class="circle"></div>
                        </li>
                        <li>
                            Enterprise Design Bootcamp
                            <div class="circle"></div>
                        </li>
                        <li>
                            Java Spring Bootcamp
                            <div class="circle"></div>
                        </li>
                        <li>
                            Spring Developer Bootcamp
                        </li>
                        <li>
                            Agile Manager & Business Analyst Bootcamp
                            <div class="circle"></div>
                        </li>
                        <li>
                            <a href="#">Or Customize Your Own</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="#" class="btn -primary mt20">
                    <img src="{{ "assets/images/ico-play.svg" | relative_url }}" class="ico" alt=""> VISIT O&B UNIVERSITY
                </a>
            </div>
        </div>
    </div>
</section>
