<!-- Contact form -->
<div class="modal fade" id="getInTouch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <hr>
      <form action="">
        <div class="modal-header">
          <h6>
            < Send us a message/>
          </h6>
          <h2>Hello There</h2>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
        </div>
              <div class="modal-body auto-600">
                  <h6 class="-dark text-center">I’d like to talk about..</h6>
                  <div class="row mt20 mb30">
                      <div class="col">
                          <select class="form-control" id="form-selector">
                              <option selected disabled hidden>Select one..</option>
                              <option value="red">Software development services</option>
                              <option value="blue">Training and bootcamps</option>
                              <option value="yellow">Joining your team</option>
                              <option value="orange">Something else</option>
                          </select>
                      </div>
                  </div>
                  <div id="red" class="form-content red">
                      <div class="row">
                          <div class="col">
                              <div class="form-group">
                                  <label for="">My name is</label>
                                  <input type="text" class="form-control" placeholder="First name">
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-group">
                                  <label for="">Your company is</label>
                                  <input type="text" class="form-control" placeholder="Last name">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <div class="form-group">
                                  <label for="">My email is</label>
                                  <input type="text" class="form-control" placeholder="hello@email.com">
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-group">
                                  <label for="">I'm located at</label>
                                  <input type="text" class="form-control" placeholder="Your Location">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <div class="form-group">
                                  <label for="">My message</label>
                                  <textarea class="form-control" name="" id="" rows="5"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="blue" class="form-content blue">
                      <div class="row">
                          <div class="col">
                              <p>
                                  Our real-world experiences is applied to our training programs - this what we leverage to offer the most effective software development courses in the country.
                              </p>
                              <p>
                                  Visit
                                  <a href="#">O&B University</a> to see all the courses or contact us at training -
                                  <a href="#">sales@orangeandbronze.com</a> and 894-3415.

                              </p>
                          </div>
                      </div>
                  </div>
                  <div id="yellow" class="form-content yellow">
                      <div class="row">
                          <div class="col">
                              <p>
                                  We're are looking for talented individuals who would like to thrive in a culture of learning, collaboration, and productivity.
                              </p>
                              <p>
                                  See our
                                  <a href="#">job openings</a> and be part of our team.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div id="orange" class="form-content orange">
                      <div class="row">
                          <div class="col">
                              <div class="form-group">
                                  <label for="">My name is</label>
                                  <input type="text" class="form-control" placeholder="First name">
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-group">
                                  <label for="">My email is</label>
                                  <input type="text" class="form-control" placeholder="hello@email.com">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <div class="form-group">
                                  <label for="">My message</label>
                                  <textarea class="form-control" name="" id="" rows="5"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer auto-600">
                  <a href="#" class="btn -primary">
                      <img src="{{ "assets/images/ico-send.svg" | relative_url }}" class="ico" alt=""> Send Message
                  </a>
              </div>
          </form>
      </div>
  </div>
</div>