<section class="section-cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <hr>
        <div class="cta-block">
          <div class="title">
            <h6>< READY TO GET STARTED? /></h6>
            <h2>Let’s work together</h2>
          </div>
          <div class="buttons">
            <a href="/work" class="btn -secondary">
              <img src="{{ "assets/images/ico-bookmark.svg" | relative_url }}" class="ico svg" alt="" /> Read Case Studies
            </a>
            <a href="#getInTouch" class="btn -primary" data-toggle="modal">
              <img src="{{ "assets/images/ico-play.svg" | relative_url }}" class="ico" alt=""/> Get In touch
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-1"></div>
    </div>
  </div>
</section>
