<footer>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <ul class="footer-group-link ">
            <li>
              <h5>COMPANY</h5>
            </li>

            {%- include navigation.html -%}

          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <ul class="footer-group-link ">
            <li>
              <h5>Services</h5>
            </li>
            <li>
              <a href="/services">Java Software Development</a>
            </li>
            <li>
              <a href="/services">Staff Augmentation</a>
            </li>
            <li>
              <a href="/services">G Suite</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
          <ul class="footer-group-link ">
            <li>
              <h5>Services</h5>
            </li>
            <li>
              <p>{{ site.address | escape }}</p>
              <p>{{ site.contact_number | escape }}</p>
              <p>{{ site.email | escape }}</p>
            </li>
          </ul>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-md-12 col-lg-4 footer-group">

          <ul class="footer-group-link ">
            <li>
              <h5>OUR STRATEGIC PARTNERS</h5>
            </li>
            <li class="partners">
              <img src="{{ "assets/images/partner-google.png" | relative_url }}" alt=" ">
              <img src="{{ "assets/images/partner-pivotal.png" | relative_url }}" alt=" ">
              <img src="{{ "assets/images/partner-jboss.png" | relative_url }}" alt=" ">
            </li>
          </ul>

          <ul class="footer-group-link ">
            <li>
                <h5>STAY CONNECTED</h5>
            </li>
            <li class="social-media">
            {%- if site.facebook_username -%}
              <a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">
                <img src="{{ "assets/images/social-fb.svg" | relative_url }}" alt=" " />
              </a>
            {%- endif -%}
            {%- if site.twitter_username -%}
              <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
                <img src="{{ "assets/images/social-twitter.svg" | relative_url }}" alt=" " />
              </a>
            {%- endif -%}
            {%- if site.googleplus_username -%}
              <a href="https://plus.google.com/{{ site.googleplus_username| escape }}">
                <img src="{{ "assets/images/social-google.svg" | relative_url }}" alt=" " />
              </a>
            {%- endif -%}
            {%- if site.linkedin_username -%}
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
                <img src="{{ "assets/images/social-linked.svg" | relative_url }}" alt=" " />
              </a>
            {%- endif -%}
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <p>
          © 2017 {{ site.title | escape}}
        </p>
        <p>
          <a href="# ">Terms &amp; Conditions</a> |
          <a href="# ">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>

</footer>