<div id="serviceContent1" class="section-content">
  <div class="section-title">
    <H6>
      &lt; SEE OUR EXPERTIES AND CAPABILITIES /&gt;
    </H6>
    <H2>Java Software Development</H2>
    <img class="bg" src="{{ "assets/images/title-services.png" | relative_url }}" alt="" />
  </div>
  <div class="row">
    <div class="col-12">
      <H3>Customized Solutions using Java and Spring Framework</H3>
      <p>Orange & Bronze Software Labs has architected and developed huge mission-critical systems using the Spring Framework, many handling millions of daily transactions for multibillion-dollar companies all over the world. We have also built creative new products for ambitious startups, nimbly keeping up with their rapid changes in requirements.</p>
    </div>
    <div class="col-12">
      <blockquote>
        "We are fanatical about Agile Engineering, which allows us to deliver stable, potentially-shippable product increments at the end of every sprint, even with rapidly changing requirements."
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-4 d-none d-sm-block">
      <img src="{{ "assets/images/oval.png" | relative_url }}" class="img-fluid" alt="" />
    </div>
    <div class="col-sm-8">
      <H6>[ JAVA SOFTWARE DEVELOPMENT ]</H6>
      <H3>Product Engineering</H3>
      <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
      <p>
        Have a small team that has the skills and discipline to keep up with the rapidly-changing requirements needed to develop innovative products. The team will advise you on various technical options to meet your business priorities, and implement rock-solid software using Agile Engineering practices. Many of our team leaders are also trained in the Lean Startup approach, and can advise you on how to validate your customer’s preferences.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-4 d-none d-sm-block">
      <img src="{{ "assets/images/oval.png" | relative_url }}" class="img-fluid" alt="" />
    </div>
    <div class="col-sm-8">
      <H6>[ JAVA SOFTWARE DEVELOPMENT ]</H6>
      <H3>Turnkey Projects</H3>
      <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
      <p>
        We have successfully implemented complex, large-scale projects in various domains, including telecommunications, banking, insuance, and PCI-compliant financial services.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-4 d-none d-sm-block">
      <img src="{{ "assets/images/oval.png" | relative_url }}" class="img-fluid" alt="" />
    </div>
    <div class="col-sm-8">
      <H6>[ JAVA SOFTWARE DEVELOPMENT ]</H6>
      <H3>Build-operate-transfer Of Offshore Development Team</H3>
      <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
      <p>
        If you prefer to have your own team located in the Philippines, O&B can provide staffing, initial oversight, technical guidance, as well as interim administrative services, prior to turnover.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 d-none d-sm-block">
      <img src="{{ "assets/images/oval.png" | relative_url }}" class="img-fluid" alt="" />
    </div>
    <div class="col-sm-8">
      <H6>[ JAVA SOFTWARE DEVELOPMENT ]</H6>
      <H3>Legacy Migration and Modernization</H3>
      <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
      <p>
        Migration from legacy systems can be very risky, since usually these systems carry critical business operations that cannot be unavailable or result in erroneous transactions. We have implemented several major legacy modernization & migration projects successfully for critical systems in various verticals, including banking and logistics. We advised and implemented for our clients not just in the development of the software, but also in the safe migration from the legacy system to the new system.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 d-none d-sm-block">
      <img src="{{ "assets/images/oval.png" | relative_url }}" class="img-fluid" alt="" />
    </div>
    <div class="col-sm-8">
      <H6>[ JAVA SOFTWARE DEVELOPMENT ]</H6>
      <H3>System Maintenance</H3>
      <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
      <p>
        Migration from legacy systems can be very risky, since usually these systems carry critical business operations that cannot be unavailable or result in erroneous transactions. We have implemented several major legacy modernization & migration projects successfully for critical systems in various verticals, including banking and logistics. We advised and implemented for our clients not just in the development of the software, but also in the safe migration from the legacy system to the new system.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 d-none d-sm-block">
      <img src="{{ "assets/images/oval.png" | relative_url }}" class="img-fluid" alt="" />
    </div>
    <div class="col-sm-8">
      <H6>[ JAVA SOFTWARE DEVELOPMENT ]</H6>
      <H3>Project Rescue</H3>
      <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
      <p>
        We have successfully taken over failed projects, and brought the systems into production.
      </p>
    </div>
  </div>
</div>