<div id="serviceContent2" class="section-content">
  <div class="section-title">
    <H6>
      &lt; SEE OUR EXPERTIES AND CAPABILITIES /&gt;
    </H6>
    <H2>Staff Augmentation</H2>
    <img class="bg" src="{{ "assets/images/title-services.png" | relative_url }}" alt="" />
  </div>
  <div class="row">
    <div class="col">
      <H3>Highly-trained and competitive software professionals to complement your team.</H3>
      <div class="text-center">
        <img class="img-fluid m30" src="{{ "assets/images/img-services.jpg" | relative_url }}" alt="" />
      </div>
      <p>
        Complement your existing development team with trained professionals. Besides expanding your team, you also get the benefit of mentoring and coaching where we transfer our engineering practices to your team.
      </p>
      <p>
        If you want to create mission-critical systems, take your products to market quickly, and maintain a clean code base, then you need great developers. O&B prides itself in recruiting competitive programming talent, who undergo intensive training and mentoring via the O&B University training program.
      </p>
      <p>
        Our team of Java developers, business analysts and UI designers are well-versed in Object-Oriented Design, Domain-Driven Design, Agile practices such as Test-Driven Development and Continuous Integration, programming best practices, and of course technologies such as Spring, Hibernate, Grails and Javascript.
      </p>
    </div>
  </div>
</div>