<div class="content" id="content2">
  <H3>Scrum Is Not Enough</H3>
  <p>
      Even if teams are actively exchanging feedback with stakeholders and trying to deliver in short sprints, the output of the sprints are often not potentially shippable. Bugs plague the output, and when one bug gets fixed, three more take its place.
  </p>
  <p>
      Agile embraces short deliveries and accommodating change, but those are impossible without sound engineering practices. Agile teams deliver software at the end of each sprint that is solid - very few defects, even if each sprint accommodates massive changes.
  </p>
  <p>
      The only way to do this is through disciplined Agile Engineering practices - Test-Driven Development, Object-Oriented Design, Continuous Integration, etc. Teams write even the smallest unit of code in ways that catch defects early on, and in ways that easily and safely accommodate changes.
  </p>
  <p>
      We have espoused Agile Engineering from the very beginning of O&B's existence. It is a point of pride of each of our teams to keep our codebase near-defect-free and deployable, not just at the end of each sprint, but at any given time. Our clients may or may not care about Agile, but they care about the results of the software they receive from us - solid software on which they can trust their business.
  </p>
  <H3>What is Agile Engineering?</H3>

  <p>
      Orange & Bronze is one of the first companies in Asia to use and advocate Agile Software Development. We have been using it since our inception in 2005, back when Agile was still an emerging movement.
  </p>
  <p>
      We believe that software development requires a collaborative environment where the software can start and evolve into a useful and strategic system. A common vision between O&B and the client is essential to have an effective collaborative environment. This, along with constant communication and repeated testing, ensures that the project will be delivered on time, all the time.
  </p>
</div>