<div class="content" id="content1">
  <h3>Seated at the heart of Manila, Philippines</h3>

  <p>
    Orange & Bronze Software Labs has architected and built huge mission-critical systems, many handling millions of daily transactions for multibillion-dollar companies all over the world.
  </p>

  <p>
    We have also built creative new products for ambitious startups all over the world, nimbly keeping up with their rapid changes in requirements. We are fanatical about enterprise design best practices and Agile Software Development, which we have been practicing since our inception in 2005.
  </p>

  <p>
    O&B has over a hundred seasoned software engineers and software architects, specializing in Spring, Grails, Spring Roo and Hibernate. Many of our developers and architects have been using these technologies since their earliest versions.
  </p>

  <img src="{{ "assets/images/about-1.jpg" | relative_url }}" class="img-fluid" alt="" />
</div>