<div class="content" id="content3">
  <H3>Company Leadership</H3>
  <p>The management team of Orange and Bronze is made up of software engineering professionals with deep experience in the Philippine software industry. </p>
  <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
          <div class="leader-card">
              <img class="img img-fluid" src="{{ "assets/images/about-calen.jpg" | relative_url }}" alt="" />
              <span class="name">Calen Martin Legaspi</span>
              <span class="title">CEO, Co-founder</span>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
          <div class="leader-card">
              <img class="img img-fluid" src="{{ "assets/images/about-lorenzo.jpg" | relative_url }}" alt="" />
              <span class="name">Lorenzo Dee</span>
              <span class="title">VP, Consulting Services</span>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
          <div class="leader-card">
              <img class="img img-fluid" src="{{ "assets/images/about-calen.jpg" | relative_url }}" alt="" />
              <span class="name">Kathleen Fonacier-Garcia</span>
              <span class="title">VP, Sales and Marketing</span>
          </div>
      </div>
  </div>
  <H3>Only The Best Of The Best</H3>
  <p>We find the best programming talent. Despite the highly-competitive recruitment environment, we only accept around 3% of applicants. That's because they have to go through a rigorous programming test which weeds out around 90% of applicants. We then screen out the remaining applicants via a series of interviews that look for love of programming, work ethic and leadership, which eliminates many more.</p>
  <H3>Careers & Growth</H3>
  <p>
      Each developer is assigned a senior mentor to provide one-on-one support for his/her growth. Frequent training courses and knowledge-sharing sessions are provided to developers, including our Enterprise Architect's Boot Camp for more senior developers. There are also numerous other activities that provide avenues for learning, such as hackathons and other competitions.
  </p>
  <p>
      Working with Orange & Bronze Software Labs definitely means to be impressed with the people you work with - highly professional, passionate, highly-skilled engineers and analysts that genuinely want to see your company to succeed.
  </p>
  <a href="#" class="btn mt10 -primary">
      <img src="{{ "assets/images/ico-send.svg" | relative_url }}" alt="" class="ico" /> See Open Positions
  </a>
</div>