.casestudy-content {
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  @include breakpoint(md) {
    padding: 40px;
  }
  @include breakpoint(sm) {
    padding: 30px;
  }
  &.-right {
    align-items: flex-end;
    .title {
      text-align: right;
    }
    svg {
      margin-left: 8px;
    }
  }
  &.-left {
    align-items: flex-start;
    .title {
      text-align: left;
    }
    svg {
      margin-right: 8px;
    }
  }
  > .heading {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    text-align: left;
    color: #ff9c2e;
    svg g {
      fill: #ff9c2e;
    }
  }
  > .title {
    font-size: 21px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222930;
  }
}
