.feedback-slider {
  box-shadow: 0 2px 30px 0 #f0f2f5;
  border-radius: 4px;
  margin-bottom: 20px !important;
  > .slick-dots {
    bottom: -45px;
    transition: all 300ms;
    display: inline-block;
    width: unset;
    right: 0;
  }
  > .slick-dots li.slick-active button:before {
    color: #ff9e2f;
    font-size: 12px;
    transition: all 300ms;
  }
  > .slick-dots li button:before {
    color: #d3d5d7;
    font-size: 10px;
    transition: all 300ms;
  }
}
