.modal-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/title-hello.png);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  margin-top: 10px;
  padding-bottom: 20px;
  background-size: contain;
  h6,
  h2 {
    text-align: center;
    position: relative;
    z-index: 1;
  }
}
