.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h6 {
    text-align: center;
  }
  > .bg {
    position: absolute;
    top: calc(70% - 130px);
    z-index: -1;
  }
}
