.page-front {
  .section-hero {
    min-height: 500px;
    position: relative;
    @include breakpoint(sm) {
      text-align: center;
      justify-content: center;
      min-height: auto;
      h1 {
        text-align: center;
      }
    }
    > .bg-element {
      position: absolute;
      bottom: 20px;
      left: calc(50% - 48px);
      @include breakpoint(md) {
        // bottom: -30px;
      }
      @include breakpoint(sm) {
        display: none;
      }
      @include breakpoint(xs) {
        display: none;
      }
    }
    .bg1 {
      position: absolute;
      bottom: 0;
      z-index: -5;
      left: 0;
      width: 100vw;
    }
    .btn {
      margin-top: 16px;
    }
  }
  .section-about1,
  .section-about2,
  .section-about3 {
    padding: 40px 0;
  }
  .section-about1 {
    // padding-top: 0;
    position: relative;
    .bg1 {
      position: absolute;
      left: 0;
      @include breakpoint(md) {
        left: -35%;
      }
      @include breakpoint(sm) {
        opacity: 0.2;
      }
    }
  }
  .section-portfolio {
    position: relative;
    .bg1 {
      position: absolute;
      z-index: 0;
      left: -10%;
      @include breakpoint(md) {
        left: -15%;
      }
      @include breakpoint(sm) {
        left: -20%;
      }
      @include breakpoint(xs) {
        left: -40%;
      }
    }
    .bg2 {
      position: absolute;
      bottom: 131px;
      z-index: -1;
      width: 100vw;
    }
    .bg-element {
      position: absolute;
      z-index: 3;
      bottom: 50px;
      right: 40px;
    }
  }
  .section-university {
    margin-top: 60px;
    position: relative;
    padding-bottom: 0;
    .bg1 {
      position: absolute;
      bottom: 22%;
      width: 100vw;
      @include breakpoint(sm) {
        display: none;
      }
    }
    .bg2 {
      position: absolute;
      z-index: -2;
      bottom: -40%;
      width: 100vw;
      @include breakpoint(xl) {
        bottom: -40%;
      }
      @include breakpoint(lg) {
        bottom: -20%;
      }
      @include breakpoint(md) {
        bottom: -20%;
      }
      @include breakpoint(sm) {
        bottom: 0%;
      }
      @include breakpoint(xs) {
        bottom: 0%;
      }
    }
    @include breakpoint(sm) {
      .university-card {
        padding: 20px 0;
      }
    }
  }

  .section-more {
    background-color: #f9fafb;
    .other-courses-panel {
      h6 {
        text-align: center;
        font-family: Exo2.0;
        color: #22292e;
        margin-bottom: 24px;
      }
    }
  }
  .section-clients {
    background-color: #f9fafb;
    .section-title {
      align-items: flex-start;
    }
    .bg {
      position: absolute;
      right: 0;
    }
  }
  .section-cta {
    background-color: #f9fafb;
    .section-title {
      align-items: flex-start !important;
    }
  }
}
